<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>home</title>
    <!--库文件-->
    <script src="../lib/jquery.min.js"></script>
    <link rel="stylesheet" href="../lib/dist/css/icon.css">
    <link rel="stylesheet" href="../lib/weui.css">
    <script src="../lib/template.js"></script>
    <!--自己文件-->
    <link rel="stylesheet" href="../css/base.css">
    <script src="../js/base.js"></script>
    <script src="../js/useTemplate.js"></script>
</head>
<body>

<div class="page" id="page-home">
    <header class="bar bar-nav">
        <a class="icon icon-left pull-left open-panel"></a>
        <h1 class="title  titleHead">博世数据网络公司</h1>
    </header>
    <div class="content">
        <div class="content-inner">
            <div class="list-block media-list">
                <ul>
                    <li>
                        <a href="crm.html" class="item-link item-content">
                            <div class="item-media">
                                <img src="../imgs/1.jpg" alt="" width="50">
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">CRM</div>
                                    <div class="item-after">11:13</div>
                                </div>
                                <div class="item-subtitle">客户信息管理</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="myLog.html" class="item-link item-content">
                            <div class="item-media">
                                <img src="../imgs/1.jpg" alt="" width="50">
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">工作日志</div>
                                    <div class="item-after">11:13</div>
                                </div>
                                <div class="item-subtitle">我的工作日志</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="adminLog.html" class="item-link item-content">
                            <div class="item-media">
                                <img src="../imgs/1.jpg" alt="" width="50">
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">管理日志</div>
                                    <div class="item-after">11:13</div>
                                </div>
                                <div class="item-subtitle">管理日志</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script type="text/html" id="addNewContacts">
    <ul>
        <li>
            <div class="item-content">
                <div class="item-title label">姓名</div>
                <div class="item-input">
                    <input type="text" placeholder="请输入姓名">
                </div>
            </div>
        </li>
        <li>
            <div class="item-content">
                <div class="item-title label">职务</div>
                <div class="item-input">
                    <input type="text" placeholder="请输入职务">
                </div>
            </div>
        </li>
        <li>
            <div class="item-content">
                <div class="item-title label">电话</div>
                <div class="item-input">
                    <input type="number" placeholder="请输入电话">
                </div>
            </div>
        </li>
    </ul>
</script>

<!-----------模板定义----------------------->
<script type="text/html" id="crmTarget">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="crm.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">{{targetName}}</h1>
    </header>
    <div class="content">
        <div class="subnavContainer clearfloat">
            <div class="left">
                <div class="leftStyle">
                    <span>{{number}}</span>所
                </div>
            </div>
            <div class="right">
                <div class="btn-screening">
                    <span class="screeningContent">{{screeningValue}}</span>
                    <span class="icon icon-caret"></span>
                </div>
                <div class="screeningItems">
                    <div class="screeningItem" data-value="0">筛选</div>
                    <div class="screeningItem" data-value="1">昨日</div>
                    <div class="screeningItem" data-value="2">本月</div>
                </div>
            </div>
        </div>
        {{if cards}}
            {{each cards as card}}
                <div class="content-block-title marginCard">
                    {{card.province}}>{{card.city}}>{{card.county}}
                    <div class="list-block media-list marginBottomNo">
                        <ul>
                            {{if card.items}}
                                {{each card.items as item}}
                                    <li>
                                        <a href="crm-targetDetail.html?targetId={{targetId}}&itemId={{item.itemId}}" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">{{item.itemName}}</div>
                                                    <div class="item-after btn-style">{{item.itemState}}</div>
                                                </div>
                                                <div class="item-subtitle">
                                                    <span>{{item.userName}}</span>
                                                    <span>{{item.time}}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {{/each}}
                            {{/if}}
                        </ul>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</script>

<script type="text/html" id="crmTargetDetail">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="crm.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">{{targetName}}详情页</h1>
    </header>
    <div class="content">
        <div class="list-block media-list nomargin headerCard">
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">{{itemName}}</div>
                        <div class="item-after">{{itemState}}</div>
                    </div>
                    <div class="item-subtitle">
                        {{province}}>{{city}}>{{county}}
                    </div>
                    <div class="item-text">{{itemLevel}}</div>
                </div>
            </div>
        </div>
        <div class="buttons-tab">
            <a href="#crmTab1" class="tab-link button active">客户历史(<span>33</span>)</a>
            <a href="#crmTab2" class="tab-link button">联系人(<span>33</span>)</a>
            <a href="#crmTab3" class="tab-link button">管理</a>
        </div>
        <div class="tabs">
            <div id="crmTab1" class="tab active">
                <div class="content-block">
                    <h2 class="stateTitle">{{itemState}}</h2>
                    <div class="historyContainer">
                        {{if logItems}}
                            {{each logItems as logItem}}
                                    <div class="historyItem">
                                        <div class="list-block media-list nomargin itemCardborder">
                                            <div class="item-content">
                                                <div class="item-media">
                                                    <img src={{logItem.userImg}} alt="" width="50">
                                                </div>
                                                <div class="item-inner">
                                                    <div class="item-title-row">
                                                        <div class="item-title">{{logItem.userName}}</div>
                                                        <div class="item-after btn-style">{{logItem.userWay}}</div>
                                                    </div>
                                                    <div class="item-subtitle">
                                                        {{logItem.userTime}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="historyItemContent">
                                                <div class="itemHead clearfloat">
                                                    <div class="left">
                                                        目标
                                                        <span class="redFont">{{logItem.userTarget}}</span>
                                                    </div>
                                                    <div class="right">
                                                        结果
                                                        <span class="redFont">{{logItem.userResult}}</span>
                                                    </div>
                                                </div>
                                                <div class="itemContent">
                                                    <div class="itemLeft">
                                                        同行人员
                                                    </div>
                                                    <div class="itemRight">
                                                        {{each logItem.userPartners as partner}}
                                                            <span>{{partner}}</span>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                                <div class="itemContent">
                                                    <div class="itemLeft">
                                                        联系人
                                                    </div>
                                                    <div class="itemRight">
                                                        {{each logItem.linkPeoples as people}}
                                                            <span>{{people}}</span>
                                                        {{/each}}
                                                    </div>
                                                </div>
                                                <div class="itemContent">
                                                    <div class="itemLeft">
                                                        时间
                                                    </div>
                                                    <div class="itemRight">
                                                        {{logItem.workTime}}
                                                    </div>
                                                </div>
                                                <div class="itemContent">
                                                    <div class="itemLeft">
                                                        备注
                                                    </div>
                                                    <div class="itemRight">
                                                        <span>{{logItem.remarkText}}</span>
                                                        {{each logItem.remarkImg as src}}
                                                            <img src={{src}} alt="">
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="crmTab2" class="tab">
                <div class="content-block">
                    <div class="list-block media-list">
                        {{if contacts}}
                            {{each contacts as contact}}
                                <div class="item-content bg-white">
                                    <div class="item-media">
                                        <img src={{contact.contactImg}} alt="" width="50">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">{{contact.contactName}}</div>
                                            <div class="item-after">{{contact.contactPost}}</div>
                                        </div>
                                        <div class="item-subtitle">
                                            {{contact.contactName}}<span>{{contact.contactTime}}</span>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                    <div class="list-block inset nomargin">
                        <a href="javascript:;" class="weui-btn weui-btn_primary button-nav open-popup" data-popup=".popup-addContacts">新增联系人</a>
                    </div>

                </div>
            </div>
            <div id="crmTab3" class="tab">
                <div class="content-block">
                    <div class="list-block inset">
                        <a href="javascript:;" class="weui-btn weui-btn_primary">更新状态</a>
                        <a href="javascript:;" class="weui-btn weui-btn_primary">重新分配</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="crmAddressList">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="crm.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">通讯录</h1>
    </header>
    <div class="content">
        <div class="subnavContainer clearfloat">
            <div class="left">
                <div class="leftStyle">
                    <span>{{linkNumber}}</span>人
                </div>
            </div>
            <div class="right">
                <div class="btn-screening">
                    <span class="icon icon-down"></span>
                    <span class="screeningContent">筛选</span>
                </div>
                <div class="screeningItems">
                    <div class="screeningItem" data-value="1">昨日</div>
                    <div class="screeningItem" data-value="2">本月</div>
                </div>

            </div>
        </div>
        {{if alphabets}}
            {{each alphabets as alphabet}}
                <div class="content-block-title marginCard">
                    <span>{{alphabet.alphabet}}</span>
                    <div class="list-block media-list marginBottomNo">
                        <ul>
                            {{if alphabet.items}}
                                {{each alphabet.items as item}}
                                    <li>
                                        <a href="javascript:;" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="item-title">{{item.itemName}}</div>
                                                    <div class="item-after">{{item.itemPost}}</div>
                                                </div>
                                                <div class="item-subtitle">
                                                    <span>{{item.province}}</span>
                                                    <span>{{item.city}}</span>
                                                    <span>{{item.county}}</span>
                                                    <span>{{item.belong}}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {{/each}}
                            {{/if}}
                        </ul>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</script>

<script type="text/html" id="adminLogNewAddTarget">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="crm.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">新增{{targetName}}</h1>
    </header>
    <div class="content">
        <div class="subnavContainer clearfloat">
            <div class="left">
                <div class="leftStyle">
                    <span>{{number}}</span>所
                </div>
            </div>
            <div class="right">
                <div class="btn-screening">
                    <span class="icon icon-caret"></span>
                    <span class="screeningContent">筛选</span>
                </div>
                <div class="screeningItems">
                    <div class="screeningItem" data-value="1">昨日</div>
                    <div class="screeningItem" data-value="2">本月</div>
                </div>
            </div>
        </div>
        {{if cards}}
        {{each cards as card}}
        <div class="content-block-title marginCard">
            {{card.province}}>{{card.city}}>{{card.county}}
            <div class="list-block media-list marginBottomNo">
                <ul>
                    {{if card.items}}
                    {{each card.items as item}}
                    <li>
                        <a href="javascript:;" class="item-link item-content btn-item" data-targetId={{targetId}} data-itemId={{item.itemId}}>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">{{item.itemName}}</div>
                                    <div class="item-after btn-style">{{item.itemState}}</div>
                                </div>
                                <div class="item-subtitle">
                                    <span>{{item.userName}}</span>
                                    <span>{{item.time}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                    {{/if}}
                </ul>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</script>

<script type="text/html" id="adminLogNewAddContacts">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="crm.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">新增联系人</h1>
    </header>
    <div class="content">
        <div class="subnavContainer clearfloat">
            <div class="left">
                <div class="leftStyle">
                    <span>{{linkNumber}}</span>人
                </div>
            </div>
            <div class="right">
                <div class="btn-screening">
                    <span class="icon icon-caret"></span>
                    <span class="screeningContent">筛选</span>
                </div>
                <div class="screeningItems">
                    <div class="screeningItem" data-value="1">昨日</div>
                    <div class="screeningItem" data-value="2">本月</div>
                </div>
            </div>
        </div>
        {{if alphabets}}
        {{each alphabets as alphabet}}
        <div class="content-block-title marginCard">
            <span>{{alphabet.alphabet}}</span>
            <div class="list-block media-list marginBottomNo">
                <ul>
                    {{if alphabet.items}}
                    {{each alphabet.items as item}}
                    <li>
                        <a href="javascript:;" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">{{item.itemName}}</div>
                                    <div class="item-after">{{item.itemPost}}</div>
                                </div>
                                <div class="item-subtitle">
                                    <span>{{item.province}}</span>
                                    <span>{{item.city}}</span>
                                    <span>{{item.county}}</span>
                                    <span>{{item.belong}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                    {{/if}}
                </ul>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</script>

<script type="text/html" id="adminLogAttendance">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="adminLog.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">考勤</h1>
    </header>
    <div class="content">
        <div class="deptContainer">
            <ul>
                {{if depts}}
                    {{each depts as dept}}
                        <li>
                            <div class="header bgTwo" data-id={{dept.deptId}}>
                                <span>{{dept.deptName}}</span>
                                <span class="icon icon-right"></span>
                            </div>
                            <div class="detail bgThree">
                                <div class="detailHeader">
                                    <div class="left">
                                        打卡人数<span class="leftNum">{{dept.attendNum}}</span>人
                                    </div>
                                    <div class="right">
                                        缺卡<span class="rightNum">{{dept.noAttendNum}}</span>次
                                    </div>
                                </div>
                                <div class="detailContent">
                                    {{if dept.deptPersons}}
                                        {{each dept.deptPersons as deptPerson}}
                                            <a href="adminLog-attendanceDetail.html?personId={{deptPerson.personId}}">
                                                <span class="name">{{deptPerson.personName}}</span>
                                                <span class="state">{{deptPerson.personState}}</span>
                                            </a>
                                        {{/each}}
                                    {{/if}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>
</script>

<script type="text/html" id="adminLogAttendanceDetail">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="oldPage/adminLog-attendance.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">考勤详情</h1>
    </header>
    <div class="content">
        <div class="subnavContainer clearfloat">
            <div class="left">
                <span class="name">{{personName}}</span>
                <span class="state">{{personState}}</span>
            </div>
            <div class="right">
                <div class="btn-screening">
                    <span class="icon icon-caret"></span>
                    <span class="screeningContent">筛选</span>
                </div>
                <div class="screeningItems">
                    <div class="screeningItem" data-value="1">昨日</div>
                    <div class="screeningItem" data-value="2">本月</div>
                </div>
            </div>
        </div>
        <div class="detailItems">
            {{if dates}}
                {{each dates as date}}
                    <div class="detailItem">
                        <div class="center">
                            {{if date.dateState}}
                            <div class="center-item time">{{date.date}}<span class="state"></span></div>
                            {{if date.stateState}}
                            <div class="center-item">
                                <div class="center-LR">
                                    <div class="center-L">上班打卡<span class="marginLeft">{{date.stateTime}}</span></div>
                                    <div class="center-R">来自{{date.stateDevice}}设备</div>
                                </div>
                                <div class="adress">
                                    {{date.stateAdress}}
                                </div>
                            </div>
                            {{else}}
                            <div class="center-item">
                                <div class="center-LR">
                                    <div class="center-L">上班打卡<span class="marginLeft">未打卡</span></div>
                                </div>
                            </div>
                            {{/if}}

                            {{if date.endState}}
                            <div class="center-item">
                                <div class="center-LR">
                                    <div class="center-L">下班打卡<span class="marginLeft">{{date.endTime}}</span></div>
                                    <div class="center-R">来自{{date.endDevice}}设备</div>
                                </div>
                                <div class="adress">
                                    {{date.endAdress}}
                                </div>
                            </div>
                            {{else}}
                            <div class="center-item">
                                <div class="center-LR">
                                    <div class="center-L">下班打卡<span class="marginLeft">未打卡</span></div>
                                </div>
                            </div>
                            {{/if}}

                            {{else}}
                            <div class="center-item time">{{date.date}}<span class="state">未打卡</span></div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</script>

<script type="text/html" id="adminLogAttendanceMy">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="adminLog.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">我的考勤</h1>
    </header>
    <div class="content">
        <div class="subnavContainer clearfloat">
            <div class="right">
                <div class="btn-screening">
                    <span class="icon icon-caret"></span>
                    <span class="screeningContent">筛选</span>
                </div>
                <div class="screeningItems">
                    <div class="screeningItem" data-value="1">昨日</div>
                    <div class="screeningItem" data-value="2">本月</div>
                </div>
            </div>
        </div>
        <div class="attendanceItems">
            {{if dates}}
            {{each dates as date}}
            <div class="attendanceItem">
                <div class="time">{{date.dateTime}}</div>
                <div>
                    上班打卡<span class="signInTime">{{date.stateState}}</span>
                </div>
                <div>
                    下班打卡<span class="signInTime">{{date.endState}}</span>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</script>

<script type="text/html" id="adminLogLog">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="adminLog.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">{{targetName}}</h1>
    </header>
    <div class="content">
        <div class="logStatisticsHD">
            <div class="container">
                <div class="row no-gutter">
                    <div class="col-33">
                        <div class="numberUp">{{schoolNum}}</div>
                        <div class="wordsDown">学校</div>
                    </div>
                    <div class="col-33">
                        <div class="numberUp">{{educationalNum}}</div>
                        <div class="wordsDown">教育机构</div>
                    </div>
                    <div class="col-33">
                        <div class="numberUp">{{departmentNum}}</div>
                        <div class="wordsDown">合伙人</div>
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-100">
                        <span>{{contantsNum}}</span>联系人
                    </div>
                </div>
                <div class="row no-gutter fontBig">
                    <div class="col-50">
                        <span>{{waitContactedNum}}</span>待联络
                    </div>
                    <div class="col-50">
                        <span>{{waitParticipantsNum}}</span>待参会
                    </div>
                </div>
                <div class="row no-gutter fontBig">
                    <div class="col-50">
                        <span>{{waitSignedNum}}</span>待签约
                    </div>
                    <div class="col-50">
                        <span>{{waitBackSectionNum}}</span>待回款
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons-tab">
            <a href="#adminLogTab1" class="tab-link button active">今日</a>
            <a href="#adminLogTab2" class="tab-link button">近7天</a>
            <a href="#adminLogTab3" class="tab-link button">月</a>
            <a href="#adminLogTab4" class="tab-link button">季度</a>
        </div>
        <div class="tabs">
            <div id="adminLogTab1" class="tab active">
                <div class="content-block">
                    <h1>今日</h1>
                    <div class="list-block">
                        <a href="adminLog-logDetail.html?targetId={{targetId}}" class="item-link list-button fontRight">日志详情</a>
                    </div>
                </div>
            </div>
            <div id="adminLogTab2" class="tab">
                <div class="content-block">
                    <h1>近7天</h1>
                    <div class="list-block">
                        <a href="adminLog-logDetail.html?targetId={{targetId}}" class="item-link list-button fontRight">日志详情</a>
                    </div>
                </div>
            </div>
            <div id="adminLogTab3" class="tab">
                <div class="content-block">
                    <h1>月</h1>
                    <div class="list-block">
                        <a href="adminLog-logDetail.html?targetId={{targetId}}" class="item-link list-button fontRight">日志详情</a>
                    </div>
                </div>
            </div>
            <div id="adminLogTab4" class="tab">
                <div class="content-block">
                    <h1>季度</h1>
                    <div class="list-block">
                        <a href="adminLog-logDetail.html?targetId={{targetId}}" class="item-link list-button fontRight">日志详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="adminLogLogDetail">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="oldPage/adminLog-logMy.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">{{targetName}}</h1>
    </header>
    <div class="content">
        <div class="subnavContainer clearfloat">
            <div class="right">
                <div class="btn-screening">
                    <span class="icon icon-caret"></span>
                    <span class="screeningContent">筛选</span>
                </div>
                <div class="screeningItems">
                    <div class="screeningItem" data-value="1">昨日</div>
                    <div class="screeningItem" data-value="2">本月</div>
                </div>
            </div>
        </div>
        <div class="historyContainer">
            {{if logItems}}
            {{each logItems as logItem}}
            <div class="historyItem">
                <div class="list-block media-list nomargin">
                    <div class="item-content">
                        <div class="item-media">
                            <img src={{logItem.userImg}} alt="" width="50">
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">{{logItem.userName}}</div>
                                <div class="item-after">{{logItem.userWay}}</div>
                            </div>
                            <div class="item-subtitle">
                                {{logItem.userTime}}
                            </div>
                        </div>
                    </div>
                    <div class="historyItemContent">
                        <div class="itemHead clearfloat">
                            <div class="left">
                                目标
                                <span class="redFont">{{logItem.userTarget}}</span>
                            </div>
                            <div class="right">
                                结果
                                <span class="redFont">{{logItem.userResult}}</span>
                            </div>
                        </div>
                        <div class="itemContent">
                            <div class="itemLeft">
                                同行人员
                            </div>
                            <div class="itemRight">
                                {{if logItem.userPartners}}
                                {{each logItem.userPartners as partner}}
                                    <span>{{partner}}</span>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="itemContent">
                            <div class="itemLeft">
                                联系人
                            </div>
                            <div class="itemRight">
                                {{if logItem.linkPeoples}}
                                {{each logItem.linkPeoples as people}}
                                <span>{{people}}</span>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                        <div class="itemContent">
                            <div class="itemLeft">
                                时间
                            </div>
                            <div class="itemRight">
                                {{logItem.workTime}}
                            </div>
                        </div>
                        <div class="itemContent">
                            <div class="itemLeft">
                                备注
                            </div>
                            <div class="itemRight">
                                <span>{{logItem.remarkText}}</span>
                                {{if logItem.remarkImg}}
                                {{each logItem.remarkImg as img}}
                                <img src={{img}} alt="">
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</script>

<script type="text/html" id="adminLogMyDept">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="adminLog.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">我的部门</h1>
    </header>
    <div class="content">
        <div class="list-block media-list nomargin">
            <ul>
                {{if depts}}
                {{each depts as dept}}
                <li>
                    <a href="adminLog-myDeptMember.html?deptId={{dept.deptId}}" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title">
                                {{dept.deptName}}<span class="memberNum">（{{dept.deptMemberNum}}）</span>
                            </div>
                        </div>
                    </a>
                </li>
                {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>
</script>

<script type="text/html" id="adminLogMyDeptMember">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="oldPage/adminLog-myDept.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">部门成员</h1>
    </header>
    <div class="content">
        <div class="list-block media-list nomargin">
            <ul>
                {{if deptMembers}}
                {{each deptMembers as member}}
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <img src={{member.memberImg}} width="50">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">{{member.memberName}}</div>
                            <div class="item-subtitle">{{member.memberPost}}</div>
                        </div>
                    </div>
                </li>
                {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>
</script>

<script type="text/html" id="adminLogMyCheck">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="adminLog.html">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title titleHead">我的审核</h1>
    </header>
    <div class="content">
        <div class="buttons-tab">
            <a href="#myCheckTab1" class="tab-link button active">待审核</a>
            <a href="#myCheckTab2" class="tab-link button">已审核</a>
        </div>
        <div class="tabs">
            <div id="myCheckTab1" class="tab active">
                <div class="content-block nomargin">
                    <div class="subnavContainer clearfloat">
                        <div class="right">
                            <div class="btn-screening">
                                <span class="icon icon-caret"></span>
                                <span class="screeningContent">筛选</span>
                            </div>
                            <div class="screeningItems">
                                <div class="screeningItem" data-value="1">昨日</div>
                                <div class="screeningItem" data-value="2">本月</div>
                            </div>
                        </div>
                    </div>
                    <div class="historyContainer">
                        {{if waitCheckItems}}
                        {{each waitCheckItems as item}}
                        <div class="historyItem">
                            <div class="list-block media-list nomargin">
                                <div class="state bgwait">
                                    待审核
                                </div>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img src={{item.userImg}} alt="" width="50">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">{{item.userName}}</div>
                                            <div class="item-after btn-style">{{item.userWay}}</div>
                                        </div>
                                        <div class="item-subtitle">
                                            {{item.userTime}}
                                        </div>
                                    </div>
                                </div>
                                <div class="historyItemContent">
                                    <div class="itemHead clearfloat">
                                        <div class="left">
                                            目标
                                            <span class="redFont">{{item.userTarget}}</span>
                                        </div>
                                        <div class="right">
                                            结果
                                            <span class="redFont">{{item.userResult}}</span>
                                        </div>
                                    </div>
                                    <div class="itemContent">
                                        <div class="itemLeft">
                                            同行人员
                                        </div>
                                        <div class="itemRight">
                                            {{if item.userPartners}}
                                            {{each item.userPartners as partner}}
                                            <span>{{partner}}</span>
                                            {{/each}}
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="itemContent">
                                        <div class="itemLeft">
                                            联系人
                                        </div>
                                        <div class="itemRight">
                                            {{if item.linkPeoples}}
                                            {{each item.linkPeoples as people}}
                                            <span>{{people}}</span>
                                            {{/each}}
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="itemContent">
                                        <div class="itemLeft">
                                            时间
                                        </div>
                                        <div class="itemRight">
                                            {{item.workTime}}
                                        </div>
                                    </div>
                                    <div class="itemContent">
                                        <div class="itemLeft">
                                            备注
                                        </div>
                                        <div class="itemRight">
                                            <span>{{item.remarkText}}</span>
                                            {{if item.remarkImg}}
                                            {{each item.remarkImg as img}}
                                            <img src={{img}} alt="">
                                            {{/each}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-check" data-logId={{item.logItemId}}>
                                    <button class="weui-btn weui-btn_primary">审核</button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div id="myCheckTab2" class="tab">
                <div class="content-block nomargin">
                    <div class="subnavContainer clearfloat">
                        <div class="right">
                            <div class="btn-screening">
                                <span class="icon icon-caret"></span>
                                <span class="screeningContent">筛选</span>
                            </div>
                            <div class="screeningItems">
                                <div class="screeningItem" data-value="1">昨日</div>
                                <div class="screeningItem" data-value="2">本月</div>
                            </div>
                        </div>
                    </div>
                    <div class="historyContainer">
                        {{if alreadyCheckItems}}
                        {{each alreadyCheckItems as item}}
                        <div class="historyItem">
                            <div class="list-block media-list nomargin">
                                <div class="state bgresult">
                                    审核结果：{{item.checkResult}}
                                </div>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img src={{item.userImg}} alt="" width="50">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">{{item.userName}}</div>
                                            <div class="item-after btn-style">{{item.userWay}}</div>
                                        </div>
                                        <div class="item-subtitle">
                                            {{item.userTime}}
                                        </div>
                                    </div>
                                </div>
                                <div class="historyItemContent">
                                    <div class="itemHead clearfloat">
                                        <div class="left">
                                            目标
                                            <span class="redFont">{{item.userTarget}}</span>
                                        </div>
                                        <div class="right">
                                            结果
                                            <span class="redFont">{{item.userResult}}</span>
                                        </div>
                                    </div>
                                    <div class="itemContent">
                                        <div class="itemLeft">
                                            同行人员
                                        </div>
                                        <div class="itemRight">
                                            {{if item.userPartners}}
                                            {{each item.userPartners as partner}}
                                            <span>{{partner}}</span>
                                            {{/each}}
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="itemContent">
                                        <div class="itemLeft">
                                            联系人
                                        </div>
                                        <div class="itemRight">
                                            {{if item.linkPeoples}}
                                            {{each item.linkPeoples as people}}
                                            <span>{{people}}</span>
                                            {{/each}}
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="itemContent">
                                        <div class="itemLeft">
                                            时间
                                        </div>
                                        <div class="itemRight">
                                            {{item.workTime}}
                                        </div>
                                    </div>
                                    <div class="itemContent">
                                        <div class="itemLeft">
                                            备注
                                        </div>
                                        <div class="itemRight">
                                            <span>{{item.remarkText}}</span>
                                            {{if item.remarkImg}}
                                            {{each item.remarkImg as img}}
                                            <img src={{img}} alt="">
                                            {{/each}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!-------------------------------------------->
<script src="../lib/dist/js/base.js"></script>
<script src="../js/demos.js"></script>
<script src="../lib/dist/js/city-picker.js"></script>
</body>
</html>